In [ ]:
name="Soundarya"
print(f"My name is {name}")

My name is Soundarya

In [ ]:
name="Soundarya"
print("My name is",name)

My name is Soundarya

In [ ]:
name="Soundarya"
age=20
print("Name is ",name)
print("Age is",age)

Name is  Soundarya
Age is 20

#**Python Syntax & Structure**

#Basic Syntax Rules

In [ ]:
print("Hello,World!")#Function Call
x=5 #Variables
y=10 #No need to declare type

Hello,World!

#Python in case-sensitive

In [ ]:
Name="Anu"
name="anu"
print("Name is",Name)
print("Name is",name)
print(Name,name)#Different variables

Name is Anu
Name is anu
Anu anu

##Indentation Matters

In [ ]:
if x>0:
  print("x is positive")#4 space indentation
  print("this is inside the if block")

x is positive
this is inside the if block

##Variables & Datatypes

###Numeric Types

In [ ]:
age=25 # int
height=5.6 #float
complex_num=2+3j #compelx

###string Types

In [ ]:
name="Anu"
message='Hello World'
multiline="""This is a
              multiline string type"""

###Boolean types

In [ ]:
is_active=True
is_finished=False

###Type Checking

In [ ]:
print(type(age))#<class 'int'>
print(type(height))#<class 'float'>
print(type(name))#<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

###Type Conversion

In [ ]:
str_number=123
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'int'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

#**Hands-on Exercise**

Exercise 1:Personal Information

###Create Variables for persnal Informations

In [ ]:
first_name="Soundarya"
last_name="Pawar"
age=20
height=5.5
is_student=True

###print formatted information

In [ ]:
print(f"Name:{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height}")
print(f"Student:{is_student}")

Name:Soundarya Pawar
Age:20
Height:5.5
Student:True

###Type conversions

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string:{age_str}")
print(f"Height as string:{height_int}")

Age as string:20
Height as string:5

###Operators & Basic Operations

####Arithmetic Operatior

In [ ]:
a=10
b=3

print(f"Addition: {a}+{b}={a+b}")
print(f"Subtraction: {a}-{b}={a-b}")
print(f"Multiplication: {a}*{b}={a*b}")
print(f"Division: {a}/{b}={a/b}")
print(f"Floor division: {a}//{b}={a//b}")
print(f"Modulus: {a}%{b}={a%b}")
print(f"Exponentiation: {a}**{b}={a**b}")

Addition: 10+3=13
Subtraction: 10-3=7
Multiplication: 10*3=30
Division: 10/3=3.3333333333333335
Floor division: 10//3=3
Modulus: 10%3=1
Exponentiation: 10**3=1000

###Order of Operator

*   P-Parentheses
*   E-Exponents
*   M-Multiplication
*   D-Division
*   A-Addition
*   S-Subtraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

###Relational or Comparison operator

In [ ]:
x=5
y=10

print(f"{x}=={y}:{x==y}")#Equal to
print(f"{x}!={y}:{x!=y}")#Not equal to
print(f"{x}<{y}:{x<y}")#less than
print(f"{x}>{y}:{x>y}")#Greater than
print(f"{x}<={y}:{x<=y}")#less than or equal
print(f"{x}>={y}:{x>=y}")#greater than or equal

5==10:False
5!=10:True
5<10:True
5>10:False
5<=10:True
5>=10:False

###String Operator

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}':{name1<name2}")#Alphabetical

'Alice'<'Bob':True

###Logical Operator

In [ ]:
p=True
q=False

print(f"p and q:{p and q}")#both must be True
print(f"p or q:{p or q}")#atleast one must btrue
print(f"not p:{not p}")#opposite of p

p and q:False
p or q:True
not p:False

In [ ]:
#Practical Example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
#Multiple conditions
score=85
is_present=True
can_pass=score>=80 and is_present
print(f"can pass:{can_pass}")

can pass:True

#**Hands-on Exercise**

Exerise 2:Simple Calculator

Create a calculator that checks if a person qualifies for a loan

In [ ]:
#Personal Information
age=25
annual_income=50000
credit_score=750
has_collateral=True

In [ ]:
# Loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#Check qualification
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

In [ ]:
age=25
annual_income=50000
credit_score=650
has_collateral=True
can_age=age>=18 and has_collateral
income_for=annual_income>30000 and has_collateral
can_loan=credit_score>650 and has_collateral
print(f"can_age:{can_age}")
print(f"Annual-income:{income_for}")
print(f"can_loan:{can_loan}")

can_age:True
Annual-income:True
can_loan:False

#**Data Structure**

##**List**

###Creating lists

In [ ]:
fruits=["Apple","Banana","Orange","Grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"Hello",3.142,True]

#List Indexing(O-based)

In [ ]:
print(f"First fruit:{fruits[0]}")
print(f"Last fruit:{fruits[-1]}")
print(f"Second to last:{fruits[-2]}")

First fruit:Apple
Last fruit:Grape
Second to last:Orange

##List slicing

In [ ]:
print(f"First fruit:{fruits[0:2]}")
print(f"Last fruit:{fruits[-2:]}")
print(f"All except first:{fruits[1:]}")

First fruit:['Apple', 'Banana']
Last fruit:['Orange', 'Grape']
All except first:['Banana', 'Orange', 'Grape']

##List Methods

In [ ]:
fruits.append("kiwi")#add to end
fruits.insert(1,"Strawberry")#insert at index
removed=fruits.pop()#remove list
print(f"update list:{fruits}")
print(f"removed:{removed}")

update list:['Apple', 'Strawberry', 'Banana', 'Orange', 'Grape']
removed:kiwi

##List Operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'Apple':{'Apple' in fruits}")
print(f"index of 'Banana':{fruits.index('Banana')}")

length:5
contains 'Apple':True
index of 'Banana':2

#**Tuples**

###Tuples are Immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

###Tuple Unpacking

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

##Tuple Methods

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"index of 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
index of 'Engineer':2

####Why use Tuples?



*  Immutable(safe for dictionary keys)
*  Slightly faster than list
*  Good for fixed collections

#**Dictionaries**

###Dictionary creation

In [ ]:
person={
    "name":"Alice",
    "age":23,
    "profession":"Software Engineer",
    "salary":35000,
    "skills":["Python","Javascript","SQL"]
}

###Accessing Values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknow')}")#Safe access

Name:Alice
Age:23

###Dictionary Methods

In [ ]:
print(f"Keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

Keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['Alice', 23, 'Software Engineer', 35000, ['Python', 'Javascript', 'SQL']]
Items:[('name', 'Alice'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 35000), ('skills', ['Python', 'Javascript', 'SQL'])]

###Adding/Update

In [ ]:
person["location"]="New York"
person["salary"]=80000 #update Existing

###pratical use case:Inventory management

In [ ]:
inventory={
    "laptop":{
        "quantity":50,
        "price":999.99
        },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tables":{
        "quantity":30,
        "price":399.99
    }
}

###Nested access

In [ ]:
print(f"Laptop price:${inventory['laptop']['price']}")

Laptop price:$999.99

#**Sets**

####Sets contain unique elements

In [ ]:
colors={"Red","Green","Blue","Red"}#Duplicates removed
print(f"Colors:{colors}")

Colors:{'Blue', 'Red', 'Green'}

###Set Operations

In [ ]:
team1_skills={"Python","Javascript","SQL","React"}
team2_skills={"Javascript","SQL","Java","spring"}

###Common Operations

In [ ]:
print(f"Common_skills:{team1_skills.intersection(team2_skills)}")
print(f"All_skills:{team1_skills.union(team2_skills)}")
print(f"Team1_only:{team1_skills.difference(team2_skills)}")

Common_skills:{'Javascript', 'SQL'}
All_skills:{'React', 'spring', 'SQL', 'Java', 'Javascript', 'Python'}
Team1_only:{'React', 'Python'}

###Adding to sets

In [ ]:
colors.add("Yellow")
colors.update(["Purple","Orange"])
print(f"Update colors:{colors}")

Update colors:{'Purple', 'Red', 'Yellow', 'Blue', 'Green', 'Orange'}

#**Control Flow**

##Conditonal Statements

###Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

###Test the function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"Score{score}:Grade{grade}")

Score95:GradeA
Score83:GradeB
Score72:GradeC
Score65:GradeD
Score58:GradeF

###Nested Conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight<=1:
    weight_cost=2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost+weight_cost+distance_cost

###Test Shipping Costs

In [ ]:
print(f"Light,close:${get_shipping_cost(0.5,50)}")
print(f"Heavy,far:${get_shipping_cost(10,800)}")

Light,close:$8.0
Heavy,far:$22.0

#Loops-For Loop

####Basic For Loop

In [ ]:
fruits=["Apple","Banana","Orange","Grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like Apple
I like Banana
I like Orange
I like Grape

##Loop With Enumerate(get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.Apple
2.Banana
3.Orange
4.Grape

##Loop with range

In [ ]:
for day in range(1,8):
  print(f"day {day} of the week")

day 1 of the week
day 2 of the week
day 3 of the week
day 4 of the week
day 5 of the week
day 6 of the week
day 7 of the week

###Nested Loops-Creating A Multiplication Table

In [ ]:
print("Multiplication Tbale:")
for i in range(1,6):
  for j in range(1,6):
    product=i+j
    print(f"{i} X {j} ={product:2d}",end="")
    print()#New line after each one

Multiplication Tbale:
1 X 1 = 2
1 X 2 = 3
1 X 3 = 4
1 X 4 = 5
1 X 5 = 6
2 X 1 = 3
2 X 2 = 4
2 X 3 = 5
2 X 4 = 6
2 X 5 = 7
3 X 1 = 4
3 X 2 = 5
3 X 3 = 6
3 X 4 = 7
3 X 5 = 8
4 X 1 = 5
4 X 2 = 6
4 X 3 = 7
4 X 4 = 8
4 X 5 = 9
5 X 1 = 6
5 X 2 = 7
5 X 3 = 8
5 X 4 = 9
5 X 5 =10

###Processing Data With Loops

In [ ]:
sales_data=[
    {"product":"laptop","price":999,"quantity":5},
    {"product":"phone","price":599,"quantity":10},
    {"product":"tablet","price":399,"quantity":8}
]

total_revenue=0

for item in sales_data:
  item_revenue=item["price"]*item["quantity"]
  total_revenue+=item_revenue
  print(f"{item['product']}:${item_revenue}")
print(f"Total Revenue:${total_revenue}")

laptop:$4995
phone:$5990
tablet:$3192
Total Revenue:$14177

#Loop-While Loop

###While Loop For Usr Input simulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("Guess the number between 1 to 10!")

  while guess !=target:

    #Simulate user input
    import random
    guess=random.randint(1,10)
    attempts+=1

    if guess<target:
      print(f"Guess {attempts}:{guess}-Too Low!")
    elif guess>target:
      print(f"Guess {attempts}:{guess}-Too high!")
    else:
      print(f"Guess {attempts}:{guess}-Correct!")

     #Safety Check
    if attempts>10:
      print("Max attempts reached!!")
      break

    print(f"Game Finished in {attempts} Attempts")

simple_guessing_game()

Guess the number between 1 to 10!
Guess 1:7-Correct!
Game Finished in 1 Attempts

##While Loop For Processing

In [ ]:
def process_queue():
  queue=["Task1","Task2","Task3","Task4"]

  while queue:
    current_task=queue.pop(0) #Remove First item
    print(f"Processing: {current_task}")

    print(f"Remaining task: {len(queue)}")

  print("All tasks Completed!!")

process_queue()

Processing: Task1
Remaining task: 3
Processing: Task2
Remaining task: 2
Processing: Task3
Remaining task: 1
Processing: Task4
Remaining task: 0
All tasks Completed!!

#**Functions**

####Function Basics

###Basic Function Definition

In [ ]:
def greet(name):
  return f"Hello,{name}!"

##Function Call

In [ ]:
message=greet("Python Programmer")
print(message)

Hello,Python Programmer!

###Function With Multiple Parameters

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

###Test the Function

In [ ]:
room_area=calculate_area(12,10)
print(f"Room area:{room_area} square feet")

Room area:120 square feet

###Function With Default Parameters

In [ ]:
def create_user_profile(name,age=18,location="Unknow",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

##Different Ways To Call

In [ ]:
profile1=create_user_profile("Alice")#use defaults
profile2=create_user_profile("Bob",25)#Override age
profile3=create_user_profile("Charlie",location="New York",age=30)#Named parameters

print(f"profile1:{profile1}")
print(f"profile2:{profile2}")
print(f"profile3:{profile3}")

profile1:{'name': 'Alice', 'age': 18, 'location': 'Unknow', 'active': True}
profile2:{'name': 'Bob', 'age': 25, 'location': 'Unknow', 'active': True}
profile3:{'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

#**Advanced Function Concepts**

###Function Returning Multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces=len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

###Test with Sample Text

In [ ]:
sample_text="Python is a Powerful Programing Language"

words,chars,chars_no_space=analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Word count:{words}")
print(f"Charater count:{chars}")
print(f"Charater(no_spaces):{chars_no_space}")

Text:'Python is a Powerful Programing Language'
Word count:6
Charater count:40
Charater(no_spaces):35

###Variable-length Arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

###Test With Different Numbers Of Arguments

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)

print(f"Average of 10,20,30: {avg1}")
print(f"Average of 5,15,25,35,45: {avg2}")
print(f"Average of 100: {avg3}")

Average of 10,20,30: 20.0
Average of 5,15,25,35,45: 25.0
Average of 100: 100.0

###Keyword Arguments

In [ ]:
def create_report(**data):
  print("==REPORT==")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print("=============================")

create_report(
    title="Monthly sales reports",
    data="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
    )

==REPORT==
Title:Monthly sales reports
Data:2024-01-01
Total Sales:15000
New Customers:25
Returning Customers:150
=============================

##**Lambda Functions**

###Lambda Function(Anonymous Function)

####Regular Functions

In [ ]:
def square(x):
  return x**2

####Lambda equivalent

In [ ]:
square_lambda=lambda x:x**2
print(f"Regular Function:{square(5)}")
print(f"Lambda Function:{square_lambda(5)}")

Regular Function:25
Lambda Function:25

###Lambda With Multiple Arguments

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiply:{multiply(3,4)}")

Multiply:12

###Lambda With Built-in Function

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared Numbers:{squared}")

Squared Numbers:[1, 4, 9, 16, 25]

####Filtring With lambda

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda age:age>=18,ages))
print(f"Adult ages:{adults}")

Adult ages:[21, 35, 45, 18, 67]

###Sorting With Lambda

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35}
]

sorted_people=sorted(
    people,
    key=lambda person:person["age"]
)
print("People Sorted by age")

for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

People Sorted by age
Bob:25
Alice:30
Charlie:35